<template>
  <ul>
    <School v-for="item in School" :key="item.id" :item='item'></School>
  </ul>

</template>

<script>
import { nanoid } from 'nanoid'
import School from './School.vue'
export default {
  name: 'SchoolList',
  data () {
    return {
      School: [
        { id: nanoid(), name: '南文小学', done: false },
        { id: nanoid(), name: '大涌小学', done: false },
        { id: nanoid(), name: '叠石小学', done: false },
        { id: nanoid(), name: '叠石小学', done: false }
      ],
      num: 0
    }
  },
  components: {
    School
  }
}
</script>

<style>
</style>