<template>
  <div>
    <SchoolList></SchoolList>
  </div>

</template>

<script>
import SchoolList from './components/SchoolList.vue'



export default {
  name: 'App',
  components: {
    SchoolList,
  },

}
</script>

<style>
li {
  list-style: none;
}
</style>
